{% extends "base.html" %} {% block title %}Buchungen{% endblock %} {% block content
    %}
    <h1 align="center">Buchungen</h1>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Wohnung</th>
          <th scope="col">Gast</th>
          <th scope="col">Personen</th>
          <th scope="col">Haustiere</th>
          <th scope="col">Anreise</th>
          <th scope="col">Abreise</th>
          <th scope="col">Preis</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          
            <tr>
              
              <th scope="row"><a href="/bookings/{{ item.id }}">{{ item.id }}</a></th>
              <td>{{ item.flat }}</td>
              <td>{{ item.guest }}</td>
              <td>{{ item.number_persons }}</td>
              <td>{{ item.number_pets }}</td>
              <td>{{ item.start_date }}</td>
              <td>{{ item.end_date }}</td>
              <td>{{ item.price }}</td>
              
              <td><a href="/bookings/download/{{ item.id }}"><button class="btn"><i class="fa fa-download"></i></button></a></td>
              <td><a href="/bookings/delete/{{ item.id }}"><button class="btn"><i class="fa fa-trash"></i></button></a></td>
            </tr>
          
      {% endfor %}
      </tbody>
    </table>
      
    <br />
    <form method="get" action="/create-booking">
      <div align="center">
        <button type="submit" class="btn btn-primary">Buchung erstellen</button>
      </div>
    </form>
    

    {% endblock %}