bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
*.egg-info
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
.secrets
appsettings.json
local.settings.json
.vscode/

node_modules
dist

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Local python packages
.python_packages/

# PyInstaller
*.manifest
*.spec

# Python Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# Visual Studio Code settings
*.code-workspace
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
agreements/
*.db
