{% extends "base.html" %} {% block title %}Buchung erstellen{% endblock %} 
{% block content %}
    <form method="POST" autocomplete="off">
      <h3 align="center">Buchung erstellen</h3>
      <div class="form-group">
        <label for="guest">Gast</label>
        <select class="form-control autocomplete" required>
          <option value="" disabled selected>Wähle einen Gast...</option>
          {% for g in guests %}
          <option value={{g.id}}>{{g.prename + " " + g.surname}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="flat">Wohnung</label>
        <select class="form-control autocomplete" required>
          <option value="" disabled selected>Wähle eine Wohnung...</option>
          {% for f in flats %}
          <option value={{f.id}}>{{f.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="numberPersons">Anzahl Personen</label>
        <input
          class="form-control"
          id="numberPersons"
          name="numberPersons"
          placeholder="Anzahl der Personen angeben"
          type="number" min="1" max="9" step="1"
          required
        />
      </div>
      <div class="form-group">
        <label for="numberPets">Anzahl Haustiere</label>
        <input
          class="form-control"
          id="numberPets"
          name="numberPets"
          placeholder="Anzahl der Haustiere angeben"
          type="number" min="0" max="5" step="1"
          required
        />
      </div>
      <div class="form-group">
        <label for="startDate">Von</label>
        <input
          type="date"
          class="form-control"
          id="startDate"
          name="startDate"
          placeholder="Anreisedatum angeben"
          required
        />
      </div>
      <div class="form-group">
        <label for="endDate">Bis</label>
        <input
          type="date"
          class="form-control"
          id="endDate"
          name="endDate"
          placeholder="Abreisedatum angeben"
        />
      </div>
      <div class="form-group">
        <label for="price">Preis</label>
        <input
          type="number" min="0.00" max="10000.00" step="0.01"
          class="form-control"
          id="price"
          name="price"
          placeholder="Preis angeben"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Speichern</button>
    </form>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="selectize.js"></script>
    <link rel="stylesheet" type="text/css" href="selectize.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <script>
    $(function() {
      ('.autocomplete').selectize();
    });

    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
    </script>
{% endblock %}