{% extends "base.html" %} {% block title %}Gäste{% endblock %} {% block content
    %}
    <h1 align="center">Gäste</h1>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col">E-Mail</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <th scope="row"><a href="/guests/{{ item.id }}">{{ item.id }}</a></th>
            <td>{{ item.prename }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.email }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    
    <br />
    <form method="get" action="/add-guest">
      <div align="center">
        <button type="submit" class="btn btn-primary">Gast hinzufügen</button>
      </div>
    </form>
    

    {% endblock %}